.component-2 {    
    padding: 20px;
    width: 40vw;
    border: 1px solid black;
    background-color: #ccc;
    overflow-wrap: break-word;
}
.component-2 .p {    
   position: absolute;
   padding: 10px;
}

input {    
    max-width: 173px;
    width:inherit;   
}