.component-1 {    
    padding: 20px;
    width: 40vw;
    border: 1px solid #ccc;
    background-color: #eee;
    overflow-wrap: break-word;
}
.container {
    padding-left: 30vw;
}

input {    
    max-width: 173px;
    width:inherit;   
}