<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1  class='titleHeader'>
    {{title}}
  </h1>
  <h2 magicEffect class='titleHeader'>
    {{title}} (with magic effect)
  </h2> 
  <br>
  <app-layout> </app-layout>
</div>


